[submodule "libs/Poncho-1.0"]
	path = libs/Poncho-1.0
	url = https://github.com/Jaliborc/Poncho-1.0.git
[submodule "libs/Sushi-3.0"]
	path = libs/Sushi-3.0
	url = https://github.com/Jaliborc/Sushi-3.0.git
